<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="static/home.css">
</head>
<body>
    <div class="home">
        <h1>welcome to Homepage</h1>
        <hr>
        <ol>
            <li>
                <h4>Please click signup button if you don't register</h4>
            </li>
            <li>
                <h4>Please click signin button if you already registered</h4>
            </li>
        </ol>
        <br>
        <button type='submit'><a href="signup/"><b>Sign Up</b></a></button>
        <button type = 'submit' class='signin'><a href="signin/"><b>Sign In</b></a></button>
    </div>

</body>
</html>